.Post {
    margin: 10px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    width: 100px;
    cursor: pointer;
}

.Post:hover,
.Post:active {
    background: #c0ddf5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}